# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
 Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control


.Trash/
.bash_history
.bash_sessions/
.cups/
.eclipse/
.gitconfig
.oracle_jre_usage/
.p2/
.ssh/
.tooling/
.vim/
Applications/
Desktop/
Documents/
Downloads/
Library/
eclipse-workspace/
eclipse/
Music/

.m2/
.mysql_history
UPDATE
.viminfo

.bash_profile
.jenkins/
bin/
show
.viminfo

.config/
.node-gyp/
.node_repl_history
.npm/
node_modules/
	


fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

	.android/
	.bash_profile.save
	.bash_profile.save.1
	.bashrc
	.dbshell
	.emulator_console_auth_token
	.gem/
	.gradle/
	.metadata/
	.mkshrc
	.mongorc.js
	.profile
	.recommenders/
	.rvm/
	.subversion/
	.v8flags.6.2.414.44-node.11.9ccba16d1478d0379bc468b999bebf93.json
	.zlogin
	.zshrc
	ApkProjects/
	FLUSH
	IdeaProjects/
	Movies/
	Pictures/
	RemoteSystemsTempFiles/
	Servers/
	appium.txt.save
	appium/
	messeges/
	package-lock.json
	package.json.gitignore
.android/
.bash_profile.save
.bash_profile.save.1
.bashrc
.dbshell
.emulator_console_auth_token
.gem/
.gradle/
.metadata/
.mkshrc
.mongorc.js
.profile
.recommenders/
.rvm/
.subversion/
.v8flags.6.2.414.44-node.11.9ccba16d1478d0379bc468b999bebf93.json
.zlogin
.zshrc
ApkProjects/
FLUSH
IdeaProjects/
Movies/
Pictures/
RemoteSystemsTempFiles/
Servers/
appium.txt.save
appium/
messeges/
package-lock.json
package.json
